<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
 	<string>FIREBASE_API_KEY_WEB</string>
	<key>GCM_SENDER_ID</key>
	<string>291088983781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.scanandpay.app</string>
	<key>PROJECT_ID</key>
	<string>scan-and-pay-guihzm</string>
	<key>STORAGE_BUCKET</key>
	<string>scan-and-pay-guihzm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291088983781:ios:b39e16066519db5ff4960c</string>
</dict>
</plist>
